body{
    background: #acb6e5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.calculadora{
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: #686de0;
    width: 300px;
    height: 500px;
    border-radius: 25px;
}

.calculadora td button{
    display: block;
    width: 70px;
    height: 70px;
    font-size: 25px;
}

#resultado{
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width: 300px;
    height: 100px;
    line-height: 100px;
    background: #fff;
    border-radius: 25px;
    overflow-y: scroll;
}